<!DOCTYPE html>
<html lang="zh-cn" class="login">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Node的个人博客,分享Node.js技术">
  <meta name="keywords" content="node,node.js,博客">
  <title>Node的个人博客</title>
  <link rel="stylesheet" href="../public/normalize.css">
  <link rel="stylesheet" href="../public/main.css">
</head>
<body>
  <section>
    <form action="/login" method="POST">
      <div class="form-group">
        <input type="text" name="name" placeholder="登录名">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="密码">
      </div>
      <div class="form-group">
        <input type="submit" value="登录">
      </div>
    </form>
  </section>
  <footer>
    <p>Copyright @ 2018 Node</p>
    <p>Powered by Express</p>
  </footer>
</body>
</html>